body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f2f5;
    display: flex;
    flex-direction: column;
    direction: rtl;
    /* Set the direction to RTL */
}

.sidebar ul li a i {
    margin-left: 8px;
    /* يمكنك تعديل القيمة حسب الحاجة */
}

.user-image {
    width: 70px;
    /* يمكنك تعديل الحجم حسب الحاجة */
    height: 70px;
    /* يمكنك تعديل الحجم حسب الحاجة */
    border-radius: 50%;
    display: block;
    margin: 0 auto 10px;
    /* لتوسيط الصورة وإضافة مسافة تحتها */
}

.welcome-message {
    font-weight: bold;
    font-style: italic;
    text-align: center
}

header {
    background-color: #4169E1;
    /* Changed to a darker, calmer blue color */
    color: white;
    padding: 15px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    flex-shrink: 0;
}

header a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}

main {
    display: flex;
    flex: 1;
    overflow: hidden;
    flex-direction: row;
    /* Keep the default direction for RTL */
}

.sidebar {
    width: 200px;
    background: #ffffff;
    padding: 0;
    box-shadow: -2px 0 3px rgba(0, 0, 0, 0.1);
    transition: width 0.3s, opacity 0.3s, transform 0.3s;
    order: 1;
    /* Sidebar should be first in the row */
    height: 100%;
}

.sidebar.collapsed {
    width: 0;
    opacity: 0;
    overflow: hidden;
}

.sidebar h3 {
    color: #333;
    text-align: center;
    display: none;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    border-bottom: 1px solid #e0e0e0;
}

.sidebar ul li a {
    display: block;
    color: #333;
    text-decoration: none;
    padding: 15px;
    transition: background-color 0.3s, color 0.3s;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    /* Ensure padding doesn't exceed sidebar width */
}

.sidebar ul li a:hover {
    background-color: #e0e0e0;
    color: #333;
}

.content {
    flex: 1;
    padding: 20px;
    transition: margin-left 0.3s, width 0.3s;
    /* Adjust margin to left */
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 10px;
    background-color: #f5f5f5;
    color: #333;
    order: 2;
    /* Content should be second in the row */
    overflow-y: auto;
}

.content.expanded {
    width: 100%;
}

footer {
    background-color: #4169E1;
    /* Changed to a darker, calmer blue color */
    color: white;
    text-align: center;
    padding: 10px;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    flex-shrink: 0;
}

.toggle-btn {
    background-color: #4169E1;
    /* Changed to a darker, calmer blue color */
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    right: 10px;
    /* Adjust position to right */
    top: 10px;
    transition: right 0.3s;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.toggle-btn2 {
    background-color: #4169E1;
    /* Changed to a darker, calmer blue color */
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    left: 10px;
    /* Adjust position to right */
    top: 10px;
    transition: left 0.3s;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
    margin-bottom: 20px;
}

.form-container {
    margin-bottom: 20px;
}

.form-container h3 {
    margin-bottom: 15px;
    color: #333;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.form-group label {
    margin-left: 10px;
    color: #555;
    white-space: nowrap;
}

.form-group input {
    font-size: larger;
    flex: 1;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: border-color 0.3s;
}

.form-group input:focus {
    border-color: #4169E1;
    /* Changed to a darker, calmer blue color */
    outline: none;
}

.form-group button {
    padding: 8px 12px;
    background-color: #4169E1;
    /* Changed to a darker, calmer blue color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 10px;
}

.form-group button:hover {
    background-color: #2c4e73;
    /* Darker blue for hover */
}

.tables-container {
    width: 100%;
    max-width: 800px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

th {
    background-color: #5a71e2;
    /* Changed to a darker, calmer blue color */
    color: white;
    padding: 10px;
    text-align: right;
    cursor: pointer;
    border: 1px #0b0c0f;
}

@media print {

    .sidebar,
    .print_btn,
    header {
        margin: 0%;
        padding: 0;
        display: none !important;
    }
}

.print_btn {
    font-size: larger;
    color: white;
    width: 100px;
    height: 30px;
    padding: 5px;
    background-color: #007bff;
    border-radius: 5px;
    border: none;
}

.print_btn i {
    margin-left: 5px;
    margin-right: 5px;
}

.print_btn:hover {
    background-color: #6134e8;



}

td {
    padding: 10px;
    text-align: right;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: #ececec;
}

tr:nth-child(odd) {
    background-color: #ffffff;
}

.action-buttons button {
    padding: 5px 10px;
    margin-left: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.edit-btn {
    background-color: #28a745;
    /* Green color for edit */
    color: white;
}

.edit-btn:hover {
    background-color: #218838;
    /* Darker green for hover */
}

.delete-btn {
    background-color: #dc3545;
    /* Red color for delete */
    color: white;
}

.delete-btn:hover {
    background-color: #c82333;
    /* Darker red for hover */
}

.search-input {
    margin-bottom: 10px;
    padding: 5px;
    width: 200px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.pagination button {
    padding: 5px 10px;
    margin: 0 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #0b0c0f;
    /* Changed to a darker, calmer blue color */
    color: rgb(185, 35, 35);
    transition: background-color 0.3s;
}

.pagination button:hover {
    background-color: #2c4e73;
    /* Darker blue for hover */
}

.pagination button.disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

@media (max-width: 768px) {
    .sidebar {
        display: none;
        transform: translateX(0);
    }

    .sidebar.collapsed {
        display: block;
        width: 100%;
        position: absolute;
        top: 60px;
        right: 0;
        /* Adjust position to right */
        height: 100%;
        z-index: 1000;
        transform: translateX(0);
        border-radius: 0;
        opacity: 1;
    }

    .content {
        margin: 0;
        border-radius: 0;
    }

    .content.expanded {
        width: 100%;
    }
}

.custom-form-container {
    max-width: 900px;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.custom-form-title {
    text-align: center;
    margin-bottom: 20px;
}

.custom-form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    flex: 1 1 100%;
}

.custom-form-group label {
    margin-bottom: 5px;
    font-weight: bold;
}

.custom-form-group input,
.custom-form-group select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;

    font-size: larger;
    appearance: none;
    background-color: #f9f9f9;
    transition: border-color 0.3s;
    background-position: left 10px center;
    background-repeat: no-repeat;
    background-size: 10px;
}

.custom-form-group input:focus,
.custom-form-group select:focus {
    border-color: #007bff;
    outline: none;
}

.custom-form-group select {
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4 5"><path fill="%23007bff" d="M2 0L0 2h4z"/></svg>');
}

.custom-form-group button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 150px;
    margin: 0 auto;
}

.custom-form-group button:hover {
    background-color: #0056b3;
}

@media (min-width: 768px) {
    .custom-form-fields {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;
    }

    .custom-form-group.full-width {
        flex: 1 1 100%;
    }

    .custom-form-group.half-width {
        flex: 1 1 calc(50% - 10px);
    }
.acc_hide{
display: none;

}
    .custom-form-group.third-width {
        flex: 1 1 calc(33.33% - 10px);
    }

    .custom-form-group.fourth-width {
        flex: 1 1 calc(20.33% - 10px);
    }

    .custom-form-group.fife-width {
        flex: 1 1 calc(20.33% - 10px);
    }
}



/* عملياااااااااات الكاشير */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 8px;
}

.close {
    color: #aaa;
    float: left;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#myForm {
    display: block;
}

#toggleButton {
    font-size: 2em;
    /* حجم الخط كبير */
    font-weight: bold;
    /* خط عريض */
    background: none;
    /* بدون خلفية */
    border: none;
    /* بدون حدود */
    cursor: pointer;
    /* مؤشر الفأرة */
    outline: none;
    /* إزالة التحديد */
    width: 50px;
    /* عرض الزر */
    height: 50px;
    /* ارتفاع الزر */
    display: flex;
}

#toggleButton:focus {
    outline: none;
    /* إزالة التحديد عند التركيز */
}

.custom-form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    height: 30px;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 8px;
}

.close {
    color: #aaa;
    float: left;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#myForm {
    display: block;
}

#toggleButton {
    font-size: 2em;
    /* حجم الخط كبير */
    font-weight: bold;
    /* خط عريض */
    background: none;
    /* بدون خلفية */
    border: none;
    /* بدون حدود */
    cursor: pointer;
    /* مؤشر الفأرة */
    outline: none;
    /* إزالة التحديد */
    width: 50px;
    /* عرض الزر */
    height: 50px;
    /* ارتفاع الزر */
    display: flex;
}

#toggleButton:focus {
    outline: none;
    /* إزالة التحديد عند التركيز */
}

.custom-form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    height: 30px;
}

/* الديتلز التسجيل اليومي */

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#myForm {
    display: block;
}

.custom-form-group.half-width {
    display: flex;
    width: 40%;
}
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}